
/* Your CSS Code here. */
.moviePic{
	height:100px;
	width:100px;
	opacity: 0.5px;
	background-size:cover;
}

.movieDetails{
	position:relative;
	top:10px;
	width:100px;
	text-align:center;
	font-size:12px;
}